
.slick-dots .slick-active div {
    border-right: 3px solid #262626 !important;
    color: #262626 !important;
}
@media (max-width: 767px){
    .slick-dots {
        background-color: transparent;
        border-radius: 10px;
        padding: 10px;
        position: absolute;
        left: -10px !important;
        top: 50%;
        transform: translateY(-50%);
    }
    .slick-dots ul li div{
        padding: 0px 0px !important;
        font-size: 12px !important;
        width: 25px !important;
    }
}